<div>

          <h1>Data Binding Forms</h1>
          First Name : {{fname}} <br>
          Last Name  : {{lname}} <br>
          Age        : {{age}} <br>
          Gender     : {{gender}}<br>
          country    : {{country}}<br>
          isEmployed : {{isEmployed}}
          <hr>

          First Name :<input type="text" [(ngModel)]="fname"/><br>
          Last Name :<input type="text"  [(ngModel)]="lname"/><br>
          Age       :<input type="number"[(ngModel)]="age"/><br>

          Gender:
               <input type="radio" [(ngModel)]="gender" value="male" />Male
               <input type="radio" [(ngModel)]="gender" value="female"/>female<br>


          Country:
                 <select [(ngModel)]="country">
                      <option>Arab</option>
                      <option>India</option>
                      <option>USA</option>
                      <option>UK</option>
                 </select><br>
          Is isEmployed: <input type="checkbox" [(ngModel)]="isEmployed"/><br>
                         <input type="button" value="Submit"(Click)="handleSubmitBtn()"/>
                             









</div>